.resizer {
  position: absolute;
  border: 1px solid #ccc;
}
.resizer-box {
  position: absolute;
  width: 5px;
  height: 5px;
  pointer-events: none;
  border: 1px solid #ccc;
  background-color: #fff;
}
.resizer-topLeft {
  left: -2.5px;
  top: -2.5px;
}
.resizer-topRight {
  right: -2.5px;
  top: -2.5px;
}
.resizer-bottomLeft {
  left: -2.5px;
  bottom: -2.5px;
}
.resizer-bottomRight {
  bottom: -2.5px;
  right: -2.5px;
}

